html {
    font-size: 12px;
}

body {
    display: relative;
    background: #f5f6f7;
    width: 100%;
    height: 100%;
    font-family: Dotum, "돋움", Heletica, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {

    #header {
        min-width: 250px;
    }
}

#header {
    width: 100%;
}

@media (max-width: 768px) {

    #header-inner,
    #container,
    #footer {
        min-width: 220px;
        margin: 0 15px;
        box-sizing: border-box;
    }
}

@media (max-width: 1024px) {
    #container {
        width: auto;
        max-width: 768px;
    }
}

#header-inner.join_membership {
    padding-bottom: 20px;
}



#header-inner {
    position: relative;
    overflow: hidden;
    padding: 60px 0 54px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #header {
        padding-top: 59px;
    }
}

#header-inner,
#container,
#footer {
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
}

#footer {
    clear: both;
    margin: 0 auto;
    padding: 30px 0 15px 0;
    text-align: center;
}

#footer ul {
    margin: 0 0 9px 0;
}

strong {
    font-weight: bold;
}

#footer * {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
}

li {
    text-align: -webkit-match-parent;
}

#footer ul li:first-child {
    background: 0 0;
}

#footer ul li {
    font-size: 12px;
    position: relative;
    display: inline;
    padding: 0 3px 0 7px;
    white-space: nowrap;
    background: url(https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif) left 50% no-repeat;
    background-size: 1px 10px;
}

#footer address {
    font: 9px/14px Verdana;
}

#footer address em {
    font: 9px verdana;
    padding-left: 4px;
}

:root #footer address .footer_logo {
    top: 2px;
    margin-left: 1px;
}

#footer address .footer_logo {

    position: relative;
    width: 63px;
    height: 12px;
    background: url(https://static.nid.naver.com/images/ui/login/pc_sp_login_190522.png) no-repeat;
    background-position: -242px 0;
    background-size: 460px auto;
}

#footer address span {
    font: 9px/14px Verdana;
    padding-left: 2px;
}

@media (max-width: 1024px) {

    #footer address .u_cra,
    #footer address .u_cri {
        display: inline-block;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #7e7e7e;
    }
}

form {
    -webkit-text-size-adjust: none;
}


#footer a:visited {
    text-decoration: none;
}

address {
    display: block;
}

@media (max-width: 1024px) {

    #footer .u_cr,
    #footer address .all_r,
    #footer address .copy,
    #footer address .footer_logo {
        display: none;
    }
}

@media (max-width: 1024px) {

    #footer a,
    #footer a:visited {
        color: #7e7e7e;
    }
}

div {
    display: block;
}

a {
    cursor: pointer;
}



h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

label {
    cursor: pointer;
}

input {
    writing-mode: horizontal-tb !important;
    cursor: pointer;
    -webkit-rtl-ordering: logical;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
}

select {
    display: inline-block;
    writing-mode: horizontal-tb !important;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}


.btn_primary {
    color: #fff;
    border: solid 1px rgba(0, 0, 0, .08);
    background-color: #03c75a;
}

.btn_type {
    margin-top: 40px;
    display: block;
    width: 100%;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #header-inner .logo {
        width: 165px;
        height: 32px;
        background-image: url(https://ssl.pstatic.net/static/nid/join/m_logo_naver.png);
        background-size: 165px auto;
    }
}

.logo {
    display: block;
    margin: 0 auto;
    width: 165px;
    height: 32px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_naver_logo_20191126.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 165px auto;
    color: transparent;
    font-size: 0;
}

@media (max-width: 768px) {
    #header .h_logo {
        width: 165px;
        height: 32px;
        background-image: url(https://ssl.pstatic.net/static/nid/join/m_logo_naver.png);
        background-size: 165px auto;
    }
}

.row_group {
    overflow: hidden;
    width: 100%;
}

.join_title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.ps_box.int_id {
    background: #fff;
    outline: 0;
}

.ps_box,
.ps_box_disable {
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
}

.step_url {
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}

.error_next_box {
    display: block;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}

.join_title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.ps_box.int_pass_check {
    padding-right: 40px;
}

.ps_box.int_pass:after,
.ps_box.int_pass_check2:after,
.ps_box.int_pass_check:after,
.ps_box.int_pass_step1:after,
.ps_box.int_pass_step2:after,
.ps_box.int_pass_step3:after,
.ps_box.int_pass_step4:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 125px 75px;
    cursor: pointer;
}

.ps_box.int_pass_step2,
.ps_box.int_pass_step3,
.ps_box.int_pass_step4 {
    padding: 10px 85px 10px 14px;
}

.ps_box.int_pass_step4:after {
    background-position: -54px 0;
}

.ps_box .lbl {
    left: 0;
    padding: 0 14px;
    width: 100%;
    box-sizing: border-box;
}

.lbl {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
    z-index: 9;
}

.txt_green {
    color: #03c75a;
}

.step_txt {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 38px;
    font-size: 12px;
}

.txt_green {
    color: #03c75a;
}

.row_group+.row_group {
    margin-top: 20px;
}

.row_group {
    overflow: hidden;
    width: 100%;
}

.box_right_space {
    padding-right: 14px;
    box-sizing: border-box;
}

.join_birthday {
    padding: 0;
}

.bir_wrap {
    display: table;
    width: 100%;
}

.bir_dd,
.bir_mm,
.bir_yy {
    display: table-cell;
    table-layout: fixed;
    width: 147px;
    vertical-align: middle;
}

.join_birthday .ps_box {
    padding: 11px 14px;
}

.bir_mm+.bir_dd {
    padding-left: 10px;
}

.bir_yy+.bir_mm {
    padding-left: 10px;
}

:root .sel {
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
}

.sel {
    width: 100%;
    height: 29px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

.join_sex {
    overflow: hidden;
}

.join_sex.gender_code {
    display: block;
    width: 100%;
    padding-right: 7px;
    box-sizing: border-box;
}

.gender_code {
    display: block;
    width: 100%;
    padding-right: 7px;
    box-sizing: border-box;
}

.join_email .terms_choice {
    font-size: 12px;
    font-weight: 400;
}

.terms_choice {
    color: #8e8e8e;
}